{% extends "base.html" %} {% block content %} {% load static %}
<div class="container mx-auto px-4 py-8">
  <!-- Welcome Section -->
  <div
    class="bg-gradient-to-r from-blue-600 to-purple-600 p-6 rounded-lg shadow-md mb-8 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h1 class="text-3xl font-bold mb-2 text-white">Fotky z Heckatocu 2024</h1>
      <p class="text-white">
        Zde najdete fotky z hackatonu, který se konal v roce 2024.
      </p>
      <button onclick="location.href='/fotky'"
        class=" bg-white text-gray-800 px-4 py-2 mt-24 rounded font-bold hover:bg-gray-800 hover:text-white">
        Fotky 🖼️
      </button>
    </div>
    <div class="md:w-1/2 flex justify-end">
      <img src="{% static './images/ja.JPG' %}" alt="Welcome Image" class="rounded-lg shadow-md w-36 h-auto" />
    </div>
  </div>

  <!-- Card Grid Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Card 1 -->
    <div class="bg-gradient-to-r to-green-500 from-gray-900 rounded-lg shadow-md p-6 h-auto">
      <h2 class="text-gray-300 text-xl font-bold">
        Náš web je lepší než matějův 😎
      </h2>
      <br>
      <button class="bg-white mt-4 text-gray-800 px-4 py-2 rounded hover:bg-gray-800 hover:text-white font-bold" onclick="window.location.href='https://cdn.discordapp.com/attachments/1030053130550910986/1169608973813555251/meme3.jpg?ex=6653263d&is=6651d4bd&hm=88649b40f16e5d1af9e436316111684fa75b035a61fabddf64b0574f6d2d5b56&'">
        Porazit Matava
      </button>
    </div>

    <div class="bg-gradient-to-r to-orange-500 from-gray-900 rounded-lg shadow-md p-6 h-auto" >
      <h2 class="text-gray-300 text-xl font-bold">
        Otevřená data uřední desky📊
      </h2>
      <br>
      <button class="bg-white mt-4 text-gray-800 px-4 py-2 rounded hover:bg-gray-800 hover:text-white font-bold" onclick="window.location.href='https://opendata.gov.cz/'">
        Open data
      </button>
    </div>
    <div class="bg-gradient-to-r from-gray-900 to-red-800 rounded-lg shadow-md p-6">
        <h2 class="text-gray-300 text-xl font-bold mb-4">
            Github
        </h2>
        <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="" class="w-10 h-14 mt-4 pb-4">
        <button class="bg-white text-gray-800 px-4 py-2 rounded font-bold hover:bg-gray-800 hover:text-white" onclick="window.location.href='https://github.com/Janxyxy/Hackiton2024'">
            Otevřit Github
        </button>
    </div>    
  </div>
</div>
{% endblock %}
</div>