{% extends "base.html" %} {% block content %} {% load static %}
<div class="container mx-auto px-4 py-8">
  <!-- Welcome Section -->
  <div
    class="bg-gradient-to-r from-blue-600 to-purple-600 p-6 rounded-lg shadow-md mb-8 flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h1 class="text-3xl font-bold mb-2 text-white">Fotky z Heckatocu 2024</h1>
      <p class="text-white">
        Tady najdete fotky z hackatonu 2024.
      </p>
   
      <button onclick="location.href='/duchodci'" class=" bg-white text-gray-800 px-4 py-2 mt-24 rounded font-bold hover:bg-gray-800 hover:text-white">
        Fotky 🖼️
      </button>
    </div>
    <div class="md:w-1/2 flex justify-end">
      <img src="{% static './images/ja.jpg' %}" alt="Welcome Image" class="rounded-lg shadow-md w-36 h-auto" />
    </div>
  </div>

  <!-- Card Grid Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Card 1 -->
    <div class="bg-gradient-to-r to-gray-800 from-gray-900 rounded-lg shadow-md p-6">
      <h2 class="text-xl font-bold mb-2 text-white">Card Title 1</h2>
      <p class="text-gray-300">
        This is a description for card 1. It contains brief information about
        the content.
      </p>
      <button class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
        Read More
      </button>
    </div>
    <!-- Card 2 -->
    <div class="bg-gradient-to-r to-gray-800 from-gray-900 rounded-lg shadow-md p-6">
      <h2 class="text-xl font-bold mb-2 text-white">Card Title 2</h2>
      <p class="text-gray-300">
        This is a description for card 2. It contains brief information about
        the content.
      </p>
      <button class="mt-4 bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600">
        Read More
      </button>
    </div>
    <!-- Card 3 -->
    <div class="bg-gradient-to-r to-gray-800 from-gray-900 rounded-lg shadow-md p-6">
      <h2 class="text-xl font-bold mb-2 text-white">Card Title 3</h2>
      <p class="text-gray-300">
        This is a description for card 3. It contains brief information about
        the content.
      </p>
      <button class="mt-4 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
        Read More
      </button>
    </div>
  </div>
</div>
{% endblock %}
</div>