{% extends "base.html" %} {% block content %} {% load static %}
<div class="container mx-auto px-4 py-8">
  <!-- Welcome Section -->
  <div
    class="bg-gradient-to-r from-blue-600 to-purple-600 p-6 rounded-lg shadow-md mb-8 flex flex-col md:flex-row items-center justify-between"
  >
    <div class="md:w-1/2 mb-4 md:mb-0">
      <h1 class="text-3xl font-bold mb-2 text-white">Jdu spát</h1>
      <p class="text-white">
        Zde napište nejaky text nevim. Nemáme skoro žádný data a Martin se
        rozhodl že jde spát až do 15:00 super :)
      </p>
    </div>
    <div class="md:w-1/2 flex justify-end">
      <img
        src="{% static './images/ja.JPG' %}"
        alt="Welcome Image"
        class="rounded-lg shadow-md w-36 h-auto"
      />
    </div>
  </div>

  <!-- Card Grid Section -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    <!-- Card 1 -->
    <div
      class="bg-gradient-to-r to-gray-800 from-gray-900 rounded-lg shadow-md p-6"
    >
      <h2 class="text-xl font-bold mb-2 text-white">😎</h2>
      <p class="text-gray-300 text-xl">
        Náš web je lepší než matějův.
      </p>
      <button
        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
      >
        Porazit Matava
      </button>
    </div>
  </div>
</div>
  {% endblock %}
</div>
